<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>About Me</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <p>georgina here and I love content creating. My sister made me join StackUp and i must say i've learnt a lot!!
            </p>
            <a href="/">Go back to the home page</a>
        </div>
    </main>

    <footer>
        <div class="container">
            &copy; Stackup Introduction to Back End Programming with NodeJS
        </div>
    </footer>
</body>
</html>